.container {
  width: 100%;
  position: absolute;
  top: 18rem;
}

.title {
  font-weight: bold;
  font-size: 1.875rem;
  text-align: center;
  position: relative;
  top: -4rem;
}

.description {
  font-size: 1.25rem;
  text-align: center;
  position: relative;
  top: -4rem;
}

.linkContainer {
  display: flex;
  justify-content: center;
}

.link {
  font-size: 1.25rem;
  position: relative;
  top: -4rem;
  color: var(--darkPurple);
}

.link:hover {
  text-decoration: underline;
}

.stripes {
  margin-top: 1rem;
}

.stripe {
  height: 30px;
  width: 100%;
  color: white;
  padding: 5px;
  background-image: repeating-linear-gradient(
    -55deg,
    #000,
    #000 20px,
    #ffb101 20px,
    #ffb101 40px
  );
}

.stripeRotateRight {
  transform: rotate(12deg);
}

.stripeRotateLeft {
  transform: rotate(-12deg);
}
