.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  padding: 0.5rem;
  transition:
    color 0.3s,
    background-color 0.3s,
    border-color 0.3s,
    transform 200ms ease;
  text-decoration: none;
  text-align: center;
}

.button:focus,
.button:focus-visible {
  outline: 3px solid var(--focus-color);
  outline-offset: 2px;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

.primary {
  background-color: var(--primary-color);
  color: white;
  border: 2px solid var(--primary-color);
}

.primary:hover {
  color: var(--primary-color);
  background-color: white;
}

.primaryOutline {
  background-color: white;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.primaryOutline:hover {
  color: white;
  background-color: var(--primary-color);
}

.secondaryOutline {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid #e2e8f0;
}

.secondaryOutline:hover {
  color: white;
  background-color: var(--primary-color);
  transform: translateX(4px);
}

.primarySubtle {
  background-color: white;
  color: var(--primary-color);
  border: 2px solid white;
}

.primarySubtle:hover {
  color: white;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
