.languageToggle {
  width: 100%;
  justify-content: start !important;
  gap: 1rem;
}

.languageWidget {
  border-left: none !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  width: fit-content;
  position: absolute;
}

.stackedToggle {
  position: relative;
}

.swapping {
  pointer-events: none;
}

.stackedToggle:focus .topButton,
.stackedToggle:focus-visible .topButton {
  outline: 3px solid var(--focus-color);
  outline-offset: 2px;
}

.topButton {
  top: 0rem;
  z-index: 2;
  box-shadow: 0 4px 10px rgba(0 0 0);
  filter: blur(0);
}

.bottomButton {
  top: 0.5rem;
  z-index: 1;
  pointer-events: none;
  filter: blur(0.5px);
  box-shadow: 0 0 0 rgba(0 0 0);
}

.swapping .topButton {
  animation: topToBottom 600ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.swapping .bottomButton {
  animation: bottomDownThenTop 600ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes topToBottom {
  0% {
    transform: translateY(0);
    filter: blur(0);
    box-shadow: 0 4px 10px rgba(0 0 0);
  }

  100% {
    transform: translateY(0.5rem);
    filter: blur(0.5px);
    box-shadow: 0 0 0 rgba(0 0 0);
  }
}

@keyframes bottomDownThenTop {
  0% {
    transform: translateY(0);
    filter: blur(0.5px);
    box-shadow: 0 0 0 rgba(0 0 0);
    z-index: 1;
  }

  50% {
    transform: translateY(100%);
    z-index: 3;
  }

  100% {
    transform: translateY(-0.5rem);
    filter: blur(0);
    box-shadow: 0 4px 10px rgba(0 0 0);
    z-index: 3;
  }
}
