.nav {
  display: none;
  justify-content: flex-end;
  padding: 0.5rem;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
  }
}

.navButton {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1rem;
  background: white;
  color: #471ca8;
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 200ms, color 200ms;
}

.navButton:hover {
  background-color: #471ca8;
  color: white;
}

.navContent {
  display: flex;
  align-items: center;
  gap: 1rem;
}
