.nav {
  display: none;
  justify-content: flex-end;
  padding: 0.5rem;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
  }
}

.navContent {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
