.socialsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  position: fixed;
  bottom: 1.25rem;
  right: 0;
  z-index: 1;
  margin-bottom: 148px;
}

@media (min-width: 768px) {
  .socialsContainer {
    margin-bottom: 108px;
  }
}

.socialLink {
  border-right: none !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}
