.socialsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: none;
  margin-bottom: 148px;
  align-items: flex-start;
}

.defaultSocialsContainer {
  position: fixed;
  bottom: 1.25rem;
  right: 0;
  z-index: 1;
}

@media (min-width: 768px) {
  .socialsContainer {
    margin-bottom: 108px;
  }
}

.defaultSocialLink {
  border-right: none !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.sidebarSocialLink {
  width: 100%;
  justify-content: start !important;
  gap: 1rem;
}

.sidebarSocialLinkItem {
  width: 100%;
}
