.footerNav {
  width: 100%;
}

.headerNav {
  display: none;
}

@media (min-width: 768px) {
  .headerNav {
    display: flex;
  }
}

.menubar {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.sidebarMenubar {
  flex-direction: column;
  align-items: flex-start;
}

.footerMenubar {
  justify-content: space-around;
}

@media (min-width: 640px) {
  .menubar {
    justify-content: flex-end;
  }
}

.menuitem {
  gap: 1rem;
}

.headerMenuitem {
  gap: 0.5rem;
}

.footerMenuitem {
  min-height: 60px;
}

.sidebarMenuitem {
  width: 100%;
  justify-content: start;
}

.sidebarListItem {
  width: 100%;
}

.footerIconWrapper {
  display: block;
}

.footerLabelText {
  display: none;
}

@media (min-width: 640px) {
  .footerIconWrapper {
    display: none;
  }

  .footerLabelText {
    display: block;
  }
}

@media (min-width: 768px) {
  .footerIconWrapper {
    display: block;
  }
}
