.nav {
  width: 100%;
}

.menubar {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

@media (min-width: 640px) {
  .menubar {
    justify-content: flex-end;
  }
}

.menuitem {
  gap: 1rem;
  min-height: 60px;
}

.iconWrapper {
  display: block;
}

.labelText {
  display: none;
}

@media (min-width: 640px) {
  .iconWrapper {
    display: none;
  }

  .labelText {
    display: block;
  }
}

@media (min-width: 768px) {
  .iconWrapper {
    display: block;
  }
}
