.footerNav {
  width: 100%;
}

.headerNav {
  display: none;
}

@media (min-width: 768px) {
  .headerNav {
    display: flex;
  }
}

.menubar {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

@media (min-width: 640px) {
  .menubar {
    justify-content: flex-end;
  }
}

.menuitem {
  gap: 0.5rem;
  min-height: 60px;
}

.footerIconWrapper {
  display: block;
}

.footerLabelText {
  display: none;
}

@media (min-width: 640px) {
  .footerIconWrapper {
    display: none;
  }

  .footerLabelText {
    display: block;
  }
}

@media (min-width: 768px) {
  .footerIconWrapper {
    display: block;
  }
}
