.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 60px;
}

.content {
  max-width: 90%;
}

.techStackSection {
  width: 100%;
  background-color: #884ab2;
  color: white;
  padding-left: 2rem;
}

@media (min-width: 880px) {
  .heroSection {
    flex-direction: row;
  }

  .content {
    padding: 1rem;
    max-width: 50%;
  }
}
