.container {
  padding: 0.5rem;
  padding-right: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-bottom: 1rem;
}

.description {
  text-align: center;
}

.svgWrapper {
  width: 100%;
}

.svgContainer {
  position: relative;
  margin-top: -4%;
  margin-right: 10%;
  margin-left: auto;
  width: 25%;
}

.svg {
  overflow: visible;
}
