.container {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 60px;
}

.heading {
  margin-bottom: 1rem;
}

.projectsGrid {
  max-width: 1326px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

@media (min-width: 768px) {
  .projectsGrid {
    width: 80%;
  }
}

.projectCard {
  position: relative;
  display: inline-block;
  border-radius: 1.5rem;
  max-width: 320px;
  width: 41.666667%;
  aspect-ratio: 1 / 1;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .projectCard {
    margin-bottom: 0;
  }
}

.projectImage {
  border-radius: 1.5rem;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  width: 100%;
  min-height: 25%;
  background-color: #471ca8;
  opacity: 1;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  padding: 0.5rem;
  transition: opacity 500ms ease-in-out;
}

@media (min-width: 768px) {
  .overlay {
    bottom: 0;
    opacity: 0;
  }

  .projectCard:hover .overlay {
    opacity: 1;
  }
}

.description {
  display: none;
}

@media (min-width: 768px) {
  .description {
    display: block;
  }
}
