.container {
  padding: 0.5rem;
  padding-right: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-bottom: 1rem;
}

.techGrid {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.techItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.techItem:hover {
  transform: scale(1.1);
}

.icon {
  height: 5rem;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
}

.label {
  margin-top: 0.5rem;
}
